@font-face {
  font-family: iranyekan;
  font-style: normal;
  src: url("../fonts/Yekan\ Bakh.eot");
  src: url("../fonts/Yekan\ Bakh.otf") format("embedded-opentype"),
    url("../fonts/Yekan\ Bakh.woff") format("woff"),
    url("../fonts/") format("woff2"),
    url("../fonts/Yekan\ Bakh.ttf") format("truetype");
}
.custom-font {
  font-family: iranyekan;
}
.order-image {
  max-width: 120px;
  display: flex;
}
.order-image img {
  margin-right: 10px;
}
.refund-title i {
  color: #d3890d;
}
.show-factor a {
  color: #19bfd3 !important;
}
.show-factor i {
  margin-left: 6px;
}
h3.card-title.complete-title,
h3.card-title.refund-title,
h3.processing-title,
h3.card-title.canceled-title {
  font-size: 18px;
  font-weight: bold;
}
.processing-title i {
  color: #5dabed;
}
.canceled-title i {
  color: #d30d0d;
}
.complete-title i {
  color: #6bb927;
}
.fl-r {
  float: right !important;
  margin: 0;
}
.card-img-custom {
  max-width: 125px !important;
  border-radius: 5px;
}
.main-card-container-custom {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.card-container-custom {
  margin: 10px 0;
  padding: 5px 10px;
  position: relative;
  display: flex;
  flex-direction: row !important;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.mr-custom {
  margin-right: 10px;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.mr-custom a {
  color: black;
  margin: 0 10px;
  text-decoration: none;
}
.badge-custom {
  font-size: 12px;
  border-radius: 10p;
}
.badge-custom-color {
  background-color: #0009bd !important;
}

.nav a {
  color: #383838 !important;
}

.details-container-custom {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

/* added by masbal start */
.detail-container-custom-header {
  background-color: #bbcaff;
  border: 1px solid #7291ff;
  width: 100% !important;
  justify-content: space-around;
  height: 50px;
  border-radius: 5px;
  align-items: center;
}
.detail-container-custom-main-body {
  border: 1px solid #e6e3e3;
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px 10px;
}
.body-items-container {
  width: auto;
}
.float-left {
  float: left;
}
.rotate90 {
  rotate: -90deg;
}
.image-mw img {
  max-with: 40% !important;
}
/* added by masbal end */

.detail-container-custom-header p {
  margin-bottom: 0px;
}

@media (max-width: 767.98px) {
  .details-container-custom {
    flex-direction: column;
  }
  .card-order-details {
    margin-right: 0px;
  }
}
.empty h1 {
  text-align: center;
  font-size: 20px;
}
.empty {
  text-align: center;
}

/* tabs  */
.tabcontent {
  display: none;
}
.my-orders {
  font-family: iranyekan;
  border: 1px solid #e0e0e6;
  border-radius: 10px;
}
.my-orders h2 {
  padding: 14px;
  font-size: 23px;
}
.my-orders-tabs {
  padding: 15px;
}
.tab {
  border-bottom: 1px solid #e0e0e6;
}
.main-body-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.card-details-container {
  border: 1px solid #ccc;
  margin-right: 0;
  border-radius: 5px;
}
.card-details-container p {
  font-size: 12px !important;
}
.card-order-details {
  margin-right: 10px;
}
hr {
  background-color: #ccc;
}
.more-custom {
  color: #7291ff;
  cursor: pointer;
  font-weight: 600;
}
.sell-details {
  display: none;
}
.fontLoad {
  font-family: iranyekan;
}
#payment-info {
  display: none;
}

.title-details {
  font-size: 16px;
  margin: 0 5px;
  font-weight: bold;
}
.none {
  display: none !important;
}
.tabcontent.active {
  display: block;
}
button.tablinks.active {
  color: red;
  border: none;
  background: transparent !important;
  border-bottom: 4px solid red !important;
}
button.tablinks {
  border: none !important;
  margin: 0;
  font-size: 14px;
  color: #767790;
  font-weight: bold;
}
button.tablinks:hover {
  background: transparent;
  border-bottom: 4px solid red !important;
  color: red;
}
.count {
  background: #767790;
  color: #fff;
  padding: 3px 9px;
  border-radius: 10px;
}
button.tablinks:hover .count {
  background-color: red !important;
}
button.tablinks.active .count {
  background-color: red !important;
}
